
<div>
    <h1>Musica VIU</h1>
    <audio id="audioPlayer" controls></audio>
    <p *ngIf="cancionReproducida">{{cancionReproducida.artista}} - {{cancionReproducida.titulo}}</p>
</div>

<div *ngFor="let disco of discos">
    <div *ngIf="disco.anyo>1975">
    <h2>{{disco.titulo}}</h2>
    <h2>{{disco.artista}} {{disco.anyo}}</h2>
    <img src={{disco.imagen}} alt={{disco.title}} width="400" height="300"><br><br>
    <div *ngFor="let cancion of disco.canciones">
        <app-cancion [cancion]=cancion (cancionAReproducir)="reproducirCancion(cancion)"></app-cancion>
        </div>
    <hr>
</div>
</div>
<br><br><br>

